html {
	font: 1em SofiaRegular, Arial, Sans-serif;
	padding-top: 100px;
}

body {
	margin: 0;
}

a, a:visited, a:link, a:active {
	text-decoration: none;
	color: white;
}

p {
	margin: 0px;
}

ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

/* -----------HEADER----------- */

.container-header {
	/*border: 1px solid red;*/
	margin: 0% 5% 0% 5%;
	padding: 0px 20px 0px 20px;
	position: relative;
}

#main-header {
	/*border: 1px solid green;*/
	width: 100%;
	padding: 10px 0px 10px 0px;
	/*background-color: rgba(31, 31, 31, 0.95);*/
	background-color: #9c0105;
	position: fixed;
	top: 0;
	z-index: 1;
	color: white;
	
}

.logo {
	/*border: 1px solid pink;*/
	display: inline-block;
	width: 100%;
	height: 36px;
	margin: 0px;
	text-align: center;
	font-size: 2em;
}

.main-nav {
	/*border: 1px solid pink;*/
	display: inline-block;
	padding: 8.5px 30px;
	background-color: #FF4800;
	cursor: pointer;
	border-radius: 5px;
	position: absolute;
	top: 0px;
}

.main-menu {
	/* border: 1px solid blue; */
	width: 100%;
	position: relative;
	top: 15px;
	margin: 0px;
	text-align: center;
}

.menu {
	/* border: 1px solid blue; */
	padding: 4px 0px;
	display: inline-block;
	
}

.menu-item {
	/*border: 1px solid pink;*/
	display: inline-block;
	padding: 4px 4px;

}

.menu-item:hover {
	background-color: white;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;

}

.menu-item:hover > a {
	color: #9C0105;
	border-bottom: 1px solid #9C0105;
}

.menu li{
	position: relative;
}

.menu li:hover > ul{
	position: absolute;
	display: block;
	left: 0;
}

.sub-menu{
	color: black;
	display: none;
	background-color: white;
	padding: 10px 10px;
	box-shadow: 5px 5px 5px #888;
}

.sub-menu a {
	color: black;
}

.submenu-item{
	max-height: 100px;
	min-width: 300px;
	text-align: left;
}

#search-area {
	/*border: 1px solid black;*/
	display: inline-block;
	position: absolute;
	top: 0px;
	left: 20px;
	width: 30%;
}

.search-box {
	/*border: 1px solid blue;*/
	position: relative;
	top: 2.5px;
	
}

#input-search-text {
	/*border: 1px solid black;*/
	border: none;
	width: 80%;
	height: 30px;
	padding: 0px 5px;
	font-size: 1em;
	color: black;
	background-color: white;
}

#input-search-submit {
	/*border: 1px solid orange;*/
	border: none;
	height: 30px;
	margin: 0px;
	font-size: 1em;
	padding: 0px 5px;
	cursor: pointer;
	color: white;
	background-color: #7F7570;
}

.search-icon {
	/*border: 1px solid white;*/
	width: 35px;
	height: 35px;
	display: inline-block;
	vertical-align: top;
	text-indent: -999999px;
	cursor: pointer;
	border-radius: 5px;
	background: url('../images/icons/search-icon-white.png') no-repeat center center;
	background-size: 20px 20px;
	background-color: #FF4D07;
}

.login-or-register {
	display: inline-block;
	position: absolute;
	top: 0px;
	right: 120px;

}

.login-or-register span{
	display: block;

}

.login-or-register a {
	font-size: 0.8em;
	margin-right: 5px;
}

.login-or-register a:hover {
	text-decoration: underline;
}

.shopping-cart {
	/*border: 1px solid purple;*/
	display: inline-block;
	height: 35px;
	width: 100px;
	position: absolute;
	right: 20px;
	top: 0px;
	text-indent: -999999px;
	cursor: pointer;
	background: url('../images/icons/shopping-cart1-white.png') no-repeat center center;
	background-size: 70px 60px;
}

.cart .qtCart {
	background: #fff;
	padding: 4px;
	border-radius: 50px;
	min-width: 12px;
	display: inline-block;
	text-align: center;
	color: black;
	font-weight: bold;
	font-size: 10px;
	position: absolute;
	top: 15px;
	right: 30px;
}

.shopping-cart:hover {
	background: url('../images/icons/shopping-cart1-white.png') no-repeat center center;
	background-size: 70px 60px;
}


/* -----------CARROUSEL (TEXTOS FORMATADOS)----------- */
.product-name-carrousel{
	font-size: 180%;
	color: #000000;
	font-weight: bold;

}

.short-description{
	font-size: 90%;
	font-weight: bolder;
	color:#708090;
}

.price-from{
	text-decoration: line-through;
}

.price-for{
	color:#120a8f;
	font-size: 200%;
}


/* -----------BODY----------- */

.container {
	/*border: 1px solid red;*/
	margin: 0% 5% 0% 5%;
	padding: 0px 20px 0px 20px;
	position: relative;
	background-color: white;
}

.container>section a {
	color: black;
}

.container>section a:hover {
	color: #FF4D07;
	text-decoration: underline;
}

.featured-products {
	width: 100%;
	height: 450px;
	margin-top: 20px;
}

.featured-products article{
	float: right;
	position: relative;
	margin-right: 15%;
	margin-top: 5%;
	color: #000000;
}

.top-sellers-product {
	margin-top: 20px;

}

.top-sellers-product:last-child {
	margin-bottom: 20px;

}

.top-sellers-product h3{
	display: inline-block;
	width: 100%;
	border-bottom: 1px solid #e8e8e8;
}

.top-sellers-product ul {
	text-align: center; 
}

.top-sellers-product li {
	display: inline-block;
	margin-right: 20px; 
}

.top-sellers-product li:last-child {
	display: inline-block;
	margin-right: 0px; 
}

.product-main-image {
	height: 250px;
	width: 250px;
}

.product-information {
	text-align: left;
	font-size: 0.9em;
}

.product-name {

}

.product-price-box {

}

.price {
	text-decoration: line-through;
}

.price-sale {
	color: #FF4800;
}

.installment{

}
/* -----------FOOTER----------- */
.container-footer {
	/*border: 1px solid red;*/
	margin: 0% 5% 0% 5%;
	padding: 0px 20px 0px 20px;
	position: relative;
}

#main-footer {
	/*border: 1px solid black;*/
	padding: 10px 0px;
	/* background-color: rgba(31, 31, 31, 0.95); */
	background-color: white;
	text-align: center;
	color: white;
	border-top: 2px solid #e8e8e8;
}

#footer-nav {
	display: block;
}

#footer-nav li{
	display: inline-block;
	margin: 10px;
}

#footer-nav li a {
	color: #7F7570;
}

#footer-nav li a:hover {
	color: #7F7570;
}

.footer-address {
	display: inline-block;
	padding: 5px 0px;
	font-size: 0.8em;
	color: #7F7570;
}

/* -----------PRODUCT DETAILS----------- */
.container > .details {
	display: inline-block;
	position: absolute;
	top: 30px;	
	left: 50%;
	height: 400px;
}

.container > img {
	display: inline-block;
	position: relative;
	top: 30px;
	width: 400px;
	height: 400px;
	
}

.installments {
	
	margin-top: 10px;
}

ul.installments {
	height: 80px;
	margin-top: 10px;
}

ul.installments li{

}