.side-nav {
	border: 1px solid #666;
	border-radius: 10px;
	display: inline-block;
	max-width: 15%;
	min-width: 15%;
	padding: 0.5%;
	word-break: keep-all;
	margin: 0% 2% 0% 0%;
	vertical-align: top;
}

.subcategory-item-nav {
	border-top: 1px solid #e8e8e8;
}

.subcategory-item-nav a {
	color: #666;
	display: inline-block;
	margin: 5%;
	line-height: 100%;
}

.products {
	/*border: 1px solid #666;*/
	display: inline-block;
	width: 81%;
	vertical-align: top;
}

.loading {
	/* border: 1px solid red; */
	background: url(./../carousel/jquery.bxslider/images/bx_loader.gif) center center no-repeat #fff;
	height: 50px;
	width: 50px;
	margin: 10% auto;
	display: none;
}

.products ul{
	display: inline-block;
	text-align: center;
}

.products li {
	display: inline-block;
	margin-top: 10px;
}

.category-title {
	font-size: 1.2em;
	color: #9c0105;
	font-weight: bold;
	display: inline-block;
	margin-bottom: 10px;

}

.paginatedProducts li {
	display: inline-block;
	margin-bottom: 20px;
	margin-left: 2%;
	max-width: 30%;
	min-width: 30%;
	vertical-align: top;
}

.paginatedProducts li:last-child {
	margin-right: 2%;
}