html {
	font: 1em SofiaRegular, Arial, Sans-serif;
	padding-top: 100px;
}

body {
	margin: 0;
}

a, a:visited, a:link, a:active {
	text-decoration: none;
	color: white;
}

p {
	margin: 0px;
}

ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

/* -----------ERROR 404 ----------- */
.error {
	font-family: "Dosis", sans-serif;
	background:
		url("http://localhost:8081/catalogo/resources/images/gandalf.jpg")
		no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.serverError {
	font-family: "Dosis", sans-serif;
	background:
		url("http://localhost:8081/catalogo/resources/images/enterprise.jpg")
		no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.badRequest {
	font-family: "Dosis", sans-serif;
	background:
		url("http://localhost:8081/catalogo/resources/images/better-call-saul.png")
		no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.ops {
	font-size: 100px;
	margin-left: 60px;
	text-shadow: 1px 1px 50px white;
}

.erro-http {
	color: #f6bd0d;
	font-size: 80px;
	margin-left: 20px;
	text-shadow: 1px 1px 50px white;
}

.serverError .nao-encontrada {
	font-size: 25px;
	margin-left: 60px;
	display: block;
	text-shadow: 1px 1px 50px white;
}

.serverError .seta-esquerda {
	top: 400px;
}

.serverError .nao-encontrada {
	text-shadow: 1px 1px 20px white;
}

.nao-encontrada {
	font-size: 40px;
	margin-left: 60px;
	display: block;
	text-shadow: 1px 1px 50px white;
}

.walk-on-home-boy {
	font-size: 40px;
	margin-top: 60px;
	margin-left: 60px;
	display: block;
	text-decoration: underline;
}

.seta-esquerda {
	width: 0;
	height: 0;
	position: absolute;
	margin-left: -15px;
	top: 355px;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-right: 10px solid #fff;
}

/* -----------HEADER----------- */

.container-header {
	/*border: 1px solid red;*/
	margin: 0% 5% 0% 5%;
	padding: 0px 20px 0px 20px;
	position: relative;
}

#main-header {
	/*border: 1px solid green;*/
	width: 100%;
	padding: 10px 0px 10px 0px;
	/*background-color: rgba(31, 31, 31, 0.95);*/
/* 	background-color: #9c0105; */
	background-color: #0000FF;
	position: fixed;
	top: 0px;
	z-index: 1;
	color: white;
	background: #1a3661;
	background: -moz-linear-gradient(top, #234477 0%, #061a38 100%);
	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #234477),
		color-stop(100%, #061a38)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #234477 0%, #061a38 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #234477 0%, #061a38 100%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, #234477 0%, #061a38 100%);
	/* IE10+ */
	background: linear-gradient(to bottom, #234477 0%, #061a38 100%);
	/* W3C */
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.logo {
	/* border: 1px solid pink; */
	display: inline-block;
	position:relative;
	width: 100%;
	height: 36px;
	margin: 0px;
	text-align: center;
	font-size: 190%;
}

.logo>a {
	position: relative;
	top: 25%;
}

.logotipo {
	background: url('../images/icons/logo.png') no-repeat center center;
	width: 55px;
	height: 55px;
	display: inline-block;
	vertical-align: top;
	text-indent: -999999px;
	cursor: pointer;
	background-size: 50px 50px;
	margin-bottom: 10px;
}

.main-nav {
	/*border: 1px solid pink;*/
	display: inline-block;
	padding: 8.5px 30px;
	background-color: #FF4800;
	cursor: pointer;
	position: absolute;
	top: 0px;
}

.main-menu {
	/* border: 1px solid blue; */
	width: 100%;
	position: relative;
	top: 15px;
	margin: 0px;
	text-align: center;
	height: 34px;
	padding-top: 5px;
}

.menu {
	/* border: 1px solid blue; */
	padding: 4px 0px;
	display: inline-block;
}

.menu-item {
	/*border: 1px solid pink;*/
	display: inline-block;
	padding: 4px 4px;
	margin-left: 10px;
}

.menu-item:hover {
	background-color: #ffffff;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
}

.menu-item:hover>a {
	color: #9C0105;
	border-bottom: 1px solid #9C0105;
}

.submenu-item:hover {
	background-color: #FFFFCC;
	cursor: pointer;
}

.sub-menu{
	border-style: solid;
	border-right-width: 0em;
	border-left-width: 0em;
	border-top-width: 0em;
	border-bottom-width: 8px;
	border-bottom-color: #0000FF;
}

.submenu-item:hover a{
	color: #000;
}

.menu li {
	position: relative;
}



.menu li:hover > ul{
	position: absolute;
	display: block;
	left: 0;
}

.sub-menu{
	color: black;
	display: none;
	background-color: white;
	padding: 10px 10px;
	box-shadow: 5px 5px 5px #888;
	top: 25px;
	border-style: solid;
	border-right-width: 0em;
	border-left-width: 0em;
	border-top-width: 0em;
	border-bottom-width: 8px;
	border-bottom-color: #0000FF;
}

.sub-menu a {
	color: black;
}

.submenu-item {
	max-height: 100px;
	min-width: 300px;
	text-align: left;
}

#search-area {
	/* border: 1px solid black; */
	display: inline-block;
	padding: 0px 3px;
	position: absolute;
	top: 25%;
	left: 25px;
	width: 20%;
	border-radius: 400px;
	background-color: #ffffff;
}

.search-box {
	/* border: 1px solid blue; */
	position: relative;
	height: 30px;
	top: 0px;
}

#input-search-text {
	border: none;
	width: 80%;
	color: black;
	outline: none;
	margin-left: 15px;
	margin-top: 5px;
	/* 	background-color: white; */
}

#input-search-submit {
	border: none;
	height: 30px;
	margin: 0px;
	font-size: 1em;
	padding: 0px 5px;
	cursor: pointer;
	color: white;
	position: absolute;
	left: 88%;
}

.search-icon {
	/*border: 1px solid white;*/
	width: 35px;
	height: 35px;
	outline: none;
	display: inline-block;
	vertical-align: top;
	text-indent: -999999px;
	cursor: pointer;
	background: url('../images/icons/search-icon-black.png') no-repeat
		center center;
	background-size: 20px 20px;
}

.login-or-register {
	display: inline-block;
	position: absolute;
	top: 25%;
	right: 135px;
}

.login-or-register span {
	display: block;

}

.login-or-register a {
	font-size: 0.8em;
	margin-right: 5px;
}

.login-or-register a:hover {
	text-decoration: underline;
}

.shopping-cart {
	/*border: 1px solid purple;*/
	display: inline-block;
	height: 35px;
	width: 100px;
	position: absolute;
	right: 45px;
	top: 25%;
	text-indent: -999999px;
	cursor: pointer;
	background: url('../images/icons/shopping-cart1-white.png') no-repeat
		center center;
	background-size: 70px 60px;
}

.cart .qtCart {
	background: #fff;
	padding: 4px;
	border-radius: 50px;
	min-width: 12px;
	min-height: 10px;
	display: inline-block;
	text-align: center;
	color: black;
	font-weight: bold;
	font-size: 10px;
	position: absolute;
	top: 35px;
	right: 51px;
}

.shopping-cart:hover {
	background: url('../images/icons/shopping-cart1-white.png') no-repeat center center;
	background-size: 70px 60px;
}

/* -----------CARROUSEL (TEXTOS FORMATADOS)----------- */
.product-name-carousel {
	font-size: 120%;
}

.short-description {
	font-size: 0.9em;
	color: #708090;
}

.price-for {
	color: #FF4D07;
	font-size: 2em;
}

/* -----------BODY----------- */
.container {
	/* border: 1px solid red; */
	margin: 20px 5% 20px 5%;
	padding: 0 2%;
	position: relative;
	background-color: white;
	margin-bottom: 70px;
}

.container a {
	color: black;
}

.container>section a:hover {
	color: #FF4D07;
	text-decoration: underline;
}

.featured-products {
	padding: 0% 5%;
}

.top-sellers-products {
	margin-top: 20px;
}

.top-sellers-products h3 {
	display: inline-block;
	width: 100%;
	border-bottom: 1px solid #e8e8e8;
}

.top-sellers-products ul {
	text-align: center;
}

.top-sellers-products li {
	display: inline-block;
	/*margin-right: 1%;*/
}

.top-sellers-products li:last-child {
	display: inline-block;
	margin-right: 0;
}

.product-main-image {
	height: 250px;
	width: 100%;
}

.product-information {
	text-align: left;
	font-size: 0.9em;
}

.product-name {
	color: #171515;
	line-height: 100%;
}

.price {
	text-decoration: line-through;
	line-height: 100%;
}

.price-sale {
	color: #FF4800;
	line-height: 100%;
}

.installment {
	font-size: 0.9em;
}

.installment2{
	font-size: 1em;		
	font-weight: bolder;
	margin-left: 1%;
	position: relative;
	top: 0.8em;
}

.price-info-box {
	background-color: #EBEBEB;
	background-color: #EBEBEB;
	height: 90px;
	text-align: left;
}

.price-info-box>p {
	vertical-align: middle;
	
}

/* -----------PRODUTOS DETALHE----------- */
table {
	width: 100%;
	height: 300px;
}

tr>td:FIRST-CHILD {
	background-color: #f1f1f1;
}

tr>td:last-child {
	background-color: #f9f9f9;
}

/* -----------PRODUTOS BUSCA----------- */
.product ul li {
	display: inline-block;
	margin-bottom: 5%;
	max-width: 30%;
}

.product .product-name {
	margin-bottom: 3%;
}

.product .product-information * {
	display: block;
}


/* -----------Carrousel de Produtos----------- */
.featured-products article {
	position: relative;
}

.featured-products article header {
	display: inline;
	position: relative;
}

.product-information-carousel {
	display: inline-block;
	position: absolute;
	margin: 15px 5%;
	margin-left: 10%;
}

.product-image-promo {
	width: 300px;
	height: 300px;
}

.product-information-carousel span {
	display: block;
}

.product-price-box-carousel .price {
	font-size: 0.9em;
}

/* -----------FOOTER----------- */
.container-footer {
	/*border: 1px solid red;*/
	margin: 0% 5% 0% 5%;
	padding: 0px 20px 0px 20px;
	position: relative;
}

#main-footer {
	padding: 10px 0px;
	text-align: center;
	border-top: 2px solid #e8e8e8;
}

#footer-nav {
	display: block;
}

#footer-nav li {
	display: inline-block;
	margin: 10px;
}

#footer-nav li a {
	color: #7F7570;
}

#footer-nav li a:hover {
	color: #7F7570;
}

.footer-address {
	display: inline-block;
	padding: 5px 0px;
	font-size: 0.8em;
	color: #7F7570;
}

/* -----------PRODUCT DETAILS----------- */
.container > .details {
	display: inline-block;
	position: relative;
	left: 15%;
	max-width: 50%;
	bottom: 2em;
}

.container-photo{
	display: inline-block;
	width: 40%;
	height: 30%;
}

.photo-product-details img{
	height: 300px;
	margin:auto;
}


.details h1 {
	font-size: 20%;
}

.product ul li {
	margin-left: 2.5%;
}

.container>img {
	display: inline-block;
	position: relative;
	top: 30px;
	width: 400px;
	height: 400px;
}

.see-all-installments {
	font-size: 12px;
	color: #E6001F;
	font-weight: 700;
	position: relative;
	left: 32%;
	top: -2.5px;
	width: 75px;}

.see-all-installments:hover>ul {
	display: block;
	position: absolute;
	left: 0%;
	height: auto;
	top: 45%;
}

.installments {
	display: none;
	color: black;
	background-color: white;
	padding: 10px 10px;
	box-shadow: 5px 5px 5px 5px #888;
	top: 25px;
	width: 100px;
}

.installments>li:FIRST-CHILD {
	margin-bottom: 5px;
}

.installments>li {
	font-weight: normal;
}

ul.installments {
	height: 80px;
	margin-top: 10px;
}

.BuyButton {
	display: inline-block;
	cursor: pointer;
	font-weight: bolder;
	background: #BC0C0C;
	box-shadow: 2px 2px #888;
	color: white;
	padding: 1.5% 5%;
	text-decoration: none;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 20px;
	position: relative;
	bottom: 0em;
	left: 65%;
}

.BuyButton:hover{
	background-color: #FF0000;
}

.priceFrom {
	font-size: 12px;
	text-decoration: line-through;
	margin-left: 1%;
	position: relative;
	top: 0.7em;
}

.priceFor {
	font-size: 20px;
	margin-left: 1%;
	position: relative;
	top: 0.6em;
}

.discount {
	position: relative;
	font-size: 12px;
	color: #006400;
	top: -33%;
	left: 17%;
	font-weight: 800;
}

.details-product {
	width: 55%;
	display: inline-block;
	position: relative;
}

.details-product h1{
	font-size: 1.5em;
}

.details-product>form {
	position: relative;
	bottom: 4.5em;
}

.productsSearch ul {
	text-align: center;
}

/* div.pagination span.disabled {
	padding: 2px 5px 2px 5px;
	margin: 2px;
	background-color:#3e3e3e;
	color: #868686;
}


div.content>div.descricao:first-of-type {
	display: none;
} */
