.cabecalho{
	background-color: blue;
	position: fixed;
	width: 99%;
	height: 20%;
	opacity: 0.70;
	float: center;
}
#shoppingCar {
	text-align: right;
}
#logo{
	float: left;
}



html{
	height: 100%;
	width: 100%;
	text-align: center;
}

body{
	height: 100%;
	display: inline-block;
	background-color: red;
}


/* ------------Rodapé--------------- */
footer{
	background-color: grey;
	display: inline-block;
	position: relative;
	padding: 1% 90% 1% 1%;
}

/* ------------Conteúdo--------------- */




#produtos{
	background-color: white;
	text-align: left;
	display: inline-block;

}

.alinhaProd{
	display: inline-block;
}

.imgProd{
	width: 25%;
	height: 25%;
}



/* ------------Carrosel--------------- */

.coin-slider { overflow: hidden; zoom: 1; position: relative; }
.coin-slider a{ text-decoration: none; outline: none; border: none; }

.cs-buttons { font-size: 0px; padding: 10px; float: left; }
.cs-buttons a { margin-left: 5px; height: 10px; width: 10px; float: left; border: 1px solid #B8C4CF; color: #B8C4CF; text-indent: -1000px; }
.cs-active { background-color: #B8C4CF; color: #FFFFFF; }

.cs-title { width: 545px; padding: 10px; background-color: #000000; color: #FFFFFF; }

.cs-prev, 
.cs-next { background-color: #000000; color: #FFFFFF; padding: 0px 10px; }