<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	
	<display-name>Ideais Eletronics</display-name>
	 
	<welcome-file-list>
		<welcome-file>/src/main/webapp/pages/jsp/showcase.jsp</welcome-file>
	</welcome-file-list>
	
	
	 <!-- Prior to Servlet 3.0 define either an error-code or an exception-type but not both -->
	 <error-page>
	  <!-- Define error page to react on Java exception -->
	  <exception-type>java.lang.Throwable</exception-type>
	  <!-- The location of the resource to display in response to the error will point to the Spring MVC handler method -->
	  <location>/WEB-INF/jsp/catalogo/notFound.jsp</location>
	 </error-page>
	 
	 <error-page>
	  <error-code>404</error-code>
	  <location>/WEB-INF/jsp/catalogo/notFound.jsp</location>
	 </error-page>
	 
	 <!-- Prior to Servlet 3.0 define either an error-code or an exception-type but not both -->
	 <error-page>
	  <!-- Define error page to react on Java exception -->
	  <exception-type>java.lang.Throwable</exception-type>
	  <!-- The location of the resource to display in response to the error will point to the Spring MVC handler method -->
	  <location>/WEB-INF/jsp/catalogo/serverError.jsp</location>
	 </error-page>
	 
	 <error-page>
	  <error-code>500</error-code>
	  <location>/WEB-INF/jsp/catalogo/serverError.jsp</location>
	 </error-page>
	 
	 
	 
	 
	 
	 
	
	<servlet>
        <servlet-name>springMvcServlet</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
        	<param-name>contextConfigLocation</param-name>
            <param-value>classpath*:spring/web-context.xml, classpath*:spring/application-context.xml</param-value>
    	</init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>springMvcServlet</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    
	<filter>
	  <filter-name>sitemesh</filter-name>
	  <filter-class>com.opensymphony.sitemesh.webapp.SiteMeshFilter</filter-class>
	</filter>
 
	<filter-mapping>
	  <filter-name>sitemesh</filter-name>
	  <url-pattern>/*</url-pattern>
	</filter-mapping>
	
	
	
</web-app>