html {
	font: 1em SofiaRegular, Arial, Sans-serif;
	padding-top: 55px;
}

body {
	margin: 0;
	color: white;
}

a, a:visited, a:link, a:active, a:hover {
	text-decoration: none;
	color: white;
}

p {
	margin: 0px;
}

/* -----------HEADER----------- */
#main-header {
	/*border: 1px solid green;*/
	width: 100%;
	padding: 10px 0px 10px 0px;
	background-color: rgba(31, 31, 31, 0.95);
	position: fixed;
	top: 0;
	z-index: 1;
}

.logo {
	/*border: 1px solid pink;*/
	display: inline-block;
	width: 100%;
	height: 36px;
	margin: 0px;
	text-align: center;
	font-size: 2em;
}

#main-nav {
	/*border: 1px solid pink;*/
	display: inline-block;
	height: 35px;
	background-color: #FF4800;
	cursor: pointer;
	border-radius: 5px;
	position: absolute;
	top: 0px;
}

.menu {
	padding: 10px 30px;
	margin: 0px;
}

.menu-item {
	display: none;
}

#search-area {
	/*border: 1px solid black;*/
	display: inline-block;
	position: absolute;
	top: 0px;
	left: 130px;
}

.search-box {
	/*border: 1px solid blue;*/
	display: none;
	position: relative;
	top: 2.5px;
}

#input-search-text {
	/*border: 1px solid black;*/
	border: none;
	width: 600px;
	height: 30px;
	padding: 0px 5px;
	font-size: 1em;
	color: black;
	background-color: white;
}

#input-search-submit {
	/*border: 1px solid orange;*/
	border: none;
	height: 30px;
	margin: 0px;
	font-size: 1em;
	padding: 0px 5px;
	cursor: pointer;
	color: white;
	background-color: #7F7570;
}

.search-icon {
	/*border: 1px solid white;*/
	width: 35px;
	height: 35px;
	display: inline-block;
	vertical-align: top;
	text-indent: -999999px;
	cursor: pointer;
	border-radius: 5px;
	background: url('../images/search-icon-white.png') no-repeat center center;
	background-size: 20px 20px;
	background-color: #FF4D07;
}

.login-or-register {
	display: inline-block;
	position: absolute;
	top: 0px;
	right: 180px;

}

.login-or-register span{
	display: block;

}

.login-or-register a{
	font-size: 0.8em;
	margin-right: 5px;
}

.login-or-register a:hover {
	color: #FF4D07;
	text-decoration: underline;
}

.shopping-cart {
	/*border: 1px solid purple;*/
	display: inline-block;
	height: 35px;
	width: 100px;
	position: absolute;
	right: 20px;
	top: 0px;
	text-indent: -999999px;
	cursor: pointer;
	background: url('../images/shopping-cart1-white.png') no-repeat center center;
	background-size: 70px 60px;
}

.shopping-cart:hover {
	background: url('../images/shopping-cart1-orange.png') no-repeat center center;
	background-size: 70px 60px;
}

/* -----------BODY----------- */
.container {
	/*border: 1px solid red;*/
	margin: 0px 250px 0px 250px;
	padding: 0px 20px 0px 20px;
	position: relative;
}

/* -----------FOOTER----------- */
#main-footer {
	/*border: 1px solid black;*/
	height: 50px;
	background-color: rgba(31, 31, 31, 0.95);
}