/* ------------HEADERS--------------- */
#mainHeader {
	position: fixed;
	width: 100%;
	height: 70px;
	z-index: 1;
	text-align: center;

	background-image:
	-webkit-linear-gradient(#0B0B0B, #000000 100%);
	background-image: -moz-linear-gradient(black, #000000 100%);
	background-image: -o-linear-gradient(black, #00000 100%);
}

header div{
	display: inline-block;
	margin-left: 2%;
}

#shoppingCart{
	width: 5em;
}

#logo {
	width: 40%;
	height: 40%;
}

#searchField{
	width: 30em;
	border-radius: 20px;
	padding: 3px 0px 3px 15px;
	outline: none;

}


/* ------------MENU NAVIGATION--------------- */

.menu{
margin: 0;
padding: 0;
}


.menu li{
width: 180px;
height: auto; 
padding: 0;
margin: 0;
position: relative;
}

.submenu {
width: 180px;
height: auto;
padding: 0;
margin: 0;
display: none;
position: absolute;    
margin-top: -3px;
}


.menu li:hover>ul {
position:absolute;
display: block;
}

.subsubmenu{
top:0;
left:140px;
display: none;
}

.submenu li:hover>ul {
    display:block;
    position:absolute;
}


.menu a{
display: block;
text-decoration: none;
padding: 7px;
background-color: #fb9e25;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size: 12px;
font-weight: 400;
color: #FFFFFF;
}

.delimiterMenu{
    border-radius:50px 50px 10px 10px;
}

.delimiterMenu:last-child{
	margin-top: -3px;
    border-radius:10px 10px 50px 50px;
}

.menu a:hover{
background-color: #000000;
text-decoration: none;
color: #FFFFFF;
}

#lastDelimiter:hover{
background-color:#fb9e25;
text-decoration: none;
}

#delimiterTop:hover{
background-color:#fb9e25;
text-decoration: none;
}




/* hack para o IE não criar margens\*/ 
* html ul li { float: left; height: 1%; } 
* html ul li a { height: 1%; } 
* {list-style:none;}
/*End */ 


/* ------------BODY--------------- */
#container{
	margin: 0% 10% 0% 10%;

}

.alinhaProd{
	display: inline-block;
}

.alinhaProd li {
	display: table-cell;
	float: left;
}





.imgProd{
	width: 150px;
	height: 150px;

}
	
#produtos{
	background-color: white;
	text-align: center;
}
.priceProd{
	text-align: center;
}

.promotionsProducts{
	margin-top: 15%;
}

#prodDescrition{
	position: relative;
	display: inline-block;
	padding-top: 20%;
	margin-bottom: 30%;
}

.price-box{
	background-color: #EEE8AA;
}

/* ------------FOOTER--------------- */
footer{
	display: inline-block;
	position: relative;
	width: 100%;
	font-family: Arial;
	color: white;

	background-image:
	-webkit-linear-gradient(#000000, #1C1C1C 100%);
	background-image: -moz-linear-gradient(black, #1C1C1C 100%);
	background-image: -o-linear-gradient(black, #1C1C1C 100%);
}

.footer-logo{
	background-color: #fb9e25;
	border-radius: 50%;
	display: inline-block;
	height: 3%;
	width: 3%;
	float: right;
	text-align: center;
	margin-left: 1%;
}
.footer-img-logo{
	height: 2em;
	width: 2em;
}
.footer-mini-logo{
	margin-bottom: 5%;
	margin-right: 5%;
}
.footer-info a{
	text-decoration: none;
	color:#ffffff;
	display: inline;
}
.footer-info ul{
	list-style-type:none;
}

.footer-info{
	margin-left: 24%;
}

.footer-text{
	font-family: times;
	size: 1%;

}
#footer-address{
	position: relative;
	text-align: center;
}

.footer-info ul li{
	display: inline;
	margin-left: 4%;
}

/* ------------TAGS--------------- */
body{
	width: 100%;
	margin: 0;
}
