body{
	width: 100%;
	overflow-x:hidden;
	background: linear-gradient(135deg, rgba(242,246,248,1) 0%, rgba(216,225,231,1) 50%, rgba(181,198,208,1) 51%, rgba(224,239,249,1) 100%);
}
header{
	background-color: #1A3661;
	width: 99%;
	height: 98px;
	border-radius: 25px 25px 0px 0px;
	text-align: center;
}
#logo{
	width: 80px;
	height: 80px;
	margin-top: 10px;
	float: left;
	margin-left: 9%;
}
header h1{
	color: white;
	font-size: 28px;
	margin: 0px;
	float: left;
	margin-top: 20px;
	margin-left: 2px;
}
#user_options{
	float: left;
	color: white;
	font-size: 1.1em;
	word-spacing: 1em;
	margin: 1px;
	margin-left: 9%;
	margin-bottom: 20px;
	margin-top: 30px;
}
#user_options h6{
	text-align: left;
	color: white;
	margin: 0px;
	margin-left: 3px;
}
#search_icon{
	position: relative;
	top: 0.5em;
	padding: 1px;
}
#cart{
 	width: 100px;
	height: 80px;
	float:left;
	margin-top: 10px;
	margin-left: 11%;
}
#itens_categories{
	background-color: #B20800;
	width: 99%;
	color:white;
	border-radius: 0px 0px 10px 10px;
	text-align: center;
	word-spacing: 0.5em;
}
footer{
	color: white;
	background-color: #B20800;
	font-weight: bolder;
	text-shadow:5px 5px 10px #000000;
	border-radius: 10px;
	width: 99%;
	text-align: center;
}